<%- include('../partials/head.ejs') %>

    <div class="bg-white min-h-screen h-full p-10 flex flex-col gap-10">

        <div class="bg-gray-200 w-full rounded p-6 flex justify-between items-center gap-4">
            <h1 class="font-light text-2xl">Seja bem vindo, <%= sessionData.nome%>!</h1>

            <div class="flex items-center">
                <!----  <form id="logoutForm" action="pacientes/logout" method="POST" style="display: none;"></form> -->
                <a href="logout" onclick="document.getElementById('logoutForm').submit();">
                    <img class="w-5 cursor-pointer mr-2"
                        src="https://cdn1.iconfinder.com/data/icons/heroicons-ui/24/logout-512.png">
                </a>

                <!-- Botão de Configurações -->
                <img class="w-5 cursor-pointer"
                    src="https://cdn0.iconfinder.com/data/icons/set-app-incredibles/24/Configuration-2-01-1024.png"
                    onclick="edit()">
            </div>
        </div>

        <div class="bg-gray-200 w-full rounded p-6 flex flex-col gap-4">
            <p class="font-light text-2xl">AGENDAR NOVA CONSULTA</p>


            <form method="post" action="/exames/novo" class="flex items-center justify-start flex-wrap gap-2">
                <input type="text" id="paciente" name="paciente" class="hidden" value="<%= sessionData.id %>">

                <div class="flex flex-col w-1/4 ">
                    <label for="exames">EXAMES DISPONÍVEIS:</label>
                    <select name="exames" id="exames" class=" h-12 rounded-md bg-white outline-none p-2">
                        <option disabled selected>SELECIONE UM EXAME</option>
                    </select>
                </div>

                <div class="flex flex-col w-1/4">
                    <label for="medicos"><span id="especialista">MÉDICOS</span> DISPONÍVEIS:</label>
                    <select name="medicos" id="medicos" class=" h-12 rounded-md bg-white outline-none p-2">
                        <option disabled selected>SELECIONE UM EXAME</option>
                    </select>
                </div>

                <div class="flex flex-col w-1/4">
                    <label for="data">SELECIONE UMA DATA:</label>
                    <input name="data" id="data" type="date" class="h-12 rounded-md bg-white outline-none p-2">
                </div>

                <button type="submit" class=" w-1/4 h-12 bg-green-500 text-white rounded-md">AGENDAR
                    EXAME</button>

                <% if(msg !='' ) { %>
                    <p id="msgErro" class="text-red-500 font-bold">
                        <%= msg %>
                    </p>
                    <% }%>
            </form>
        </div>

        <div id="listaExames" class="bg-gray-200 w-full rounded p-6 flex flex-col gap-4">
            <p class="font-light text-2xl">SEUS EXAMES</p>
        </div>

        <div id="listaAtestados" class="bg-gray-200 w-full rounded p-6 flex flex-col gap-4">
            <p class="font-light text-2xl">RESPOSTAS DE EXAMES</p>
        </div>
    </div>

    <script>
        function carregarMedicos(especializacaoId) {
            fetch('/medicos/especializacaoid/' + especializacaoId)
                .then(response => response.json())
                .then(data => {
                    selectMedico.innerHTML = "";
                    data.medicos.forEach(medico => {
                        const option = new Option(medico.nome, medico.id);
                        selectMedico.add(option);
                    });

                });
        }

        function logout() {
            window.location.href = "/pacientes/login"
        }

        const selectExame = document.getElementById('exames');
        const selectMedico = document.getElementById('medicos');

        fetch('/especializacoes/')
            .then(response => response.json())
            .then(data => {
                data.especializacoes.forEach(especializacao => {
                    const option = new Option(especializacao.nome, especializacao.id);
                    selectExame.add(option);
                });

                selectExame.addEventListener('change', () => {
                    carregarMedicos(selectExame.value);
                    const especialista = document.getElementById("especialista")
                    especialista.innerHTML = selectExame.selectedOptions[0].text.toUpperCase() + 'S';
                });


            });

        const paciente = document.getElementById("paciente").value
        const listaExames = document.getElementById("listaExames")
        const listaAtestados = document.getElementById("listaAtestados")

        fetch('/exames/paciente/' + paciente)
            .then(response => response.json())
            .then(data => {
                data.exames.forEach(e => {
                    if (e.atendido == 0) {
                        const div = document.createElement('div');
                        div.classList = ("bg-white p-4 rounded-sm flex flex-col justify-between h-32 border-b-4 border-b-blue-500")

                        div.innerHTML = `
                            <div class="flex justify-between items-center">
                                <p class="text-xl"><span class="font-bold">${e.medico.especializaco.nome}</span> | ${e.medico.nome}</p>
                                <p class="">${e.data_solicitacao.substring(0, 10)}</p>
                            </div>
    
                            <div class="flex gap-2">
    
                                <button onclick="deletarExame(${e.id})" class="bg-red-500 rounded-md text-white p-2">DESMARCAR EXAME</button>
                            </div>
                        `
                        listaExames.appendChild(div);
                    }
                })
            })


        fetch('/atestados/' + paciente)
            .then(response => response.json())
            .then(data => {
                data.atestados.forEach(e => {
                    const div = document.createElement('div');
                    div.classList = ("bg-white p-4 rounded-sm flex flex-col justify-between h-32 border-b-4 border-b-blue-500")

                    div.innerHTML = `
                        <div class="flex justify-between items-start flex-col gap-2">
                            <div class="flex items-center justify-between">
                                <p class="text-xl"><span class="font-bold">${e.exame.medico.especializaco.nome}</span>| ${e.exame.medico.nome}</p>
                                <p class="">Emitido em: ${e.data_emissao.substring(0, 10)}</p>
                            </div>
                            <p class="text-xl"><span class="font-bold">Diagnóstico:</span> ${e.diagnostico}</p> 
                            <p class="text-xl"><span class="font-bold">Orientações:</span> ${e.orientacao}</p>

                        </div>

                    `
                    listaAtestados.appendChild(div);
                })
            })


        function deletarExame(id) {
            fetch(`/exames/delete/${id}`, {
                method: 'DELETE'
            }).then(() => {
                window.location.reload()
            })
        }


    </script>

    <%- include('../partials/footer.ejs') %>